<header>
    <nav class="navbar navbar-expand-sm bg-light navbar-light">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="/"><img src="/MB.jpg" alt="" width="50" height="50"><img src="/MYBLOG.jpg" alt="" width="150" height="50" class="mx-2"></a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center">
                <form id="login-form" action="/create_account" method="POST">
                    <fieldset class="d-flex flex-column justify-content-center align-items-center">
                        <legend class="login-element text-center">CREATE ACCOUNT</legend>
                        <div>
                          <label class="login-element" for="username">Username</label>
                          <input type="text" name="username" id="username" />
                        </div>
                        <div class="my-3">
                            <label class="login-element" for="passphrase">Password&nbsp;</label>
                            <input type="password" name="passphrase" id="passphrase" />
                        </div>
                        <button class="pill-button view-blog-btn" type="submit">Create</button>
                    </fieldset>
                </form>
            </div>
        </div>
      </div>
    </div>
  </header>